DSL/随记随查_宽松版.yml
app:
  description: е®Ҫжқҫиҫ“е…ҘзүҲйҡҸи®°йҡҸжҹ?
  icon: рҹӨ–
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: йҡҸи®°йҡҸжҹҘ
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.6@dd589dc093c8084925858034ab5ec1fdf0d33819f43226c2f8c4a749a9acbbb2
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: еҪ“еүҚжЁЎејҸпјҲжҹҘиҜ?и®°еҪ•пј?
    id: e1ed6c95-715b-4226-b1de-b73c80dea9b3
    name: current_mode
    selector:
    - conversation
    - current_mode
    value: ''
    value_type: string
  - description: еҫ…зЎ®и®Өжү§иЎҢSQL
    id: 303b0470-2df5-470c-8bd9-7aa439c6b310
    name: pending_sql
    selector:
    - conversation
    - pending_sql
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ж¬ўиҝҺдҪҝз”ЁйҡҸи®°йҡҸжҹҘпјҢиҜ·иҫ“е…ҘвҖңжҹҘиҜўвҖқжҲ–вҖңи®°еҪ•вҖқгҖ?
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - жҹҘиҜў
    - и®°еҪ•
    - её®жҲ‘жҹҘдёҖдё?
    - её®жҲ‘ж–°еўһи®°еҪ•
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: if-else
      id: 1740000000001-source-1740000000002-target
      source: '1740000000001'
      sourceHandle: source
      target: '1740000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: if-else
      id: 1740000000002-true-1740000000003-target
      source: '1740000000002'
      sourceHandle: 'true'
      target: '1740000000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: if-else
      id: 1740000000002-false-1740000000007-target
      source: '1740000000002'
      sourceHandle: 'false'
      target: '1740000000007'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: 1740000000003-true-1740000000004-target
      source: '1740000000003'
      sourceHandle: 'true'
      target: '1740000000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: assigner
      id: 1740000000003-false-1740000000005-target
      source: '1740000000003'
      sourceHandle: 'false'
      target: '1740000000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: assigner
      id: 1740000000004-source-1740000000006-target
      source: '1740000000004'
      sourceHandle: source
      target: '1740000000006'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: assigner
        targetType: answer
      id: 1740000000006-source-1740000000016-target
      source: '1740000000006'
      sourceHandle: source
      target: '1740000000016'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: assigner
        targetType: answer
      id: 1740000000005-source-1740000000017-target
      source: '1740000000005'
      sourceHandle: source
      target: '1740000000017'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1740000000007-true-1740000000008-target
      source: '1740000000007'
      sourceHandle: 'true'
      target: '1740000000008'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: if-else
      id: 1740000000007-false-1740000000012-target
      source: '1740000000007'
      sourceHandle: 'false'
      target: '1740000000012'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 1740000000008-source-1740000000009-target
      source: '1740000000008'
      sourceHandle: source
      target: '1740000000009'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: 1740000000009-source-1740000000010-target
      source: '1740000000009'
      sourceHandle: source
      target: '1740000000010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: assigner
      id: 1740000000010-source-1740000000011-target
      source: '1740000000010'
      sourceHandle: source
      target: '1740000000011'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: assigner
        targetType: answer
      id: 1740000000011-source-1740000000018-target
      source: '1740000000011'
      sourceHandle: source
      target: '1740000000018'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1740000000012-true-1740000000013-target
      source: '1740000000012'
      sourceHandle: 'true'
      target: '1740000000013'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: if-else
      id: 1740000000012-false-1740000000015-target
      source: '1740000000012'
      sourceHandle: 'false'
      target: '1740000000015'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 1740000000013-source-1740000000014-target
      source: '1740000000013'
      sourceHandle: source
      target: '1740000000014'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: assigner
      id: 1740000000014-source-1740000000019-target
      source: '1740000000014'
      sourceHandle: source
      target: '1740000000019'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: assigner
        targetType: answer
      id: 1740000000019-source-1740000000020-target
      source: '1740000000019'
      sourceHandle: source
      target: '1740000000020'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: assigner
      id: 1740000000015-true-1740000000021-target
      source: '1740000000015'
      sourceHandle: 'true'
      target: '1740000000021'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: assigner
      id: 1740000000015-773289b8-22d2-43c8-a8b5-f2d0aa95db92-1740000000022-target
      source: '1740000000015'
      sourceHandle: 773289b8-22d2-43c8-a8b5-f2d0aa95db92
      target: '1740000000022'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: answer
      id: 1740000000015-false-1740000000023-target
      source: '1740000000015'
      sourceHandle: 'false'
      target: '1740000000023'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: assigner
        targetType: answer
      id: 1740000000021-source-1740000000024-target
      source: '1740000000021'
      sourceHandle: source
      target: '1740000000024'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: assigner
        targetType: answer
      id: 1740000000022-source-1740000000025-target
      source: '1740000000022'
      sourceHandle: source
      target: '1740000000025'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: ејҖе§?
        type: start
        variables: []
      height: 72
      id: '1740000000001'
      position:
        x: 100
        y: 350
      positionAbsolute:
        x: 100
        y: 350
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 7b5a43b2-efe7-4077-8839-754fb9f64f72
            value: еҫ…зЎ®и®Өдҝқеӯ?
            varType: string
            variable_selector:
            - conversation
            - current_mode
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: еҲӨж–ӯжҳҜеҗҰжңүеҫ…зЎ®и®ӨSQL
        type: if-else
      height: 123
      id: '1740000000002'
      position:
        x: 390
        y: 350
      positionAbsolute:
        x: 390
        y: 350
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 4ca7f7c1-9ff4-46b1-b225-1b38b6260a4e
            value: жҳ?
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: contains
            id: fdf73ef4-9752-4db1-934c-bab2e3ac0531
            value: зЎ®и®Ө
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: contains
            id: e34293a3-8bfb-4918-bf35-c81691968d65
            value: дҝқеӯҳ
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: contains
            id: 1507908e-0724-4a31-8e3b-3bc5de7ec394
            value: true
            varType: string
            variable_selector:
            - sys
            - query
          id: 'true'
          logical_operator: or
        desc: ''
        selected: false
        title: еҲӨж–ӯз”ЁжҲ·жҳҜеҗҰзЎ®и®Өдҝқеӯҳ
        type: if-else
      height: 149
      id: '1740000000003'
      position:
        x: 690
        y: 120
      positionAbsolute:
        x: 690
        y: 120
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import urllib.request, json\ndef main(sql_query: str) -> dict:\n  \
          \  api_url = 'http://192.168.1.10:8888/api/records/execute'\n    req = urllib.request.Request(api_url,\
          \ data=json.dumps({'sql': sql_query}).encode('utf-8'), headers={\"Content-Type\"\
          : \"application/json\"})\n    try:\n        with urllib.request.urlopen(req,\
          \ timeout=10) as response:\n            result = json.loads(response.read().decode('utf-8'))\n\
          \            return {'result': result.get('message', 'ж“ҚдҪңе®ҢжҲҗ')}\n    except\
          \ Exception as e:\n        return {'result': f'й”ҷиҜҜ: {str(e)}'}\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: жү§иЎҢеҫ…зЎ®и®ӨSQL
        type: code
        variables:
        - value_selector:
          - conversation
          - pending_sql
          variable: sql_query
      height: 51
      id: '1740000000004'
      position:
        x: 980
        y: 40
      positionAbsolute:
        x: 980
        y: 40
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - pending_sql
          write_mode: over-write
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - current_mode
          write_mode: over-write
        selected: false
        title: жё…з©әзҠ¶жҖ?еҸ–ж¶Ҳ
        type: assigner
        version: '2'
      height: 109
      id: '1740000000005'
      position:
        x: 980
        y: 180
      positionAbsolute:
        x: 980
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - pending_sql
          write_mode: over-write
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - current_mode
          write_mode: over-write
        selected: false
        title: жё…з©әзҠ¶жҖ?дҝқеӯҳеҗ?
        type: assigner
        version: '2'
      height: 109
      id: '1740000000006'
      position:
        x: 1270
        y: 40
      positionAbsolute:
        x: 1270
        y: 40
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 525b8d9a-4a76-4e8d-99e7-cea102c66704
            value: жҹҘиҜў
            varType: string
            variable_selector:
            - conversation
            - current_mode
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: еҲӨж–ӯжҳҜеҗҰжҹҘиҜўжЁЎејҸ
        type: if-else
      height: 123
      id: '1740000000007'
      position:
        x: 690
        y: 350
      positionAbsolute:
        x: 690
        y: 350
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: p8s
          role: system
          text: дҪ жҳҜMySQLжҹҘиҜўSQLз”ҹжҲҗеҠ©жүӢгҖӮз”ЁжҲ·иҫ“е…ҘеҸҜиғҪжҳҜеӣәе®ҡж јејҸпјҢд№ҹеҸҜиғҪжҳҜиҮӘз„¶жҸҸиҝ°гҖӮиЎЁеҗҚпјҡzhihikuпјӣеӯ—ж®өпјҡemp_id,rec_type,content,create_timeгҖӮrec_typeд»…е…Ғи®ёпјҡеӨҮеҝҳеҪ•гҖҒз”ҹдә§и®°еҪ•жЈҖжҹҘгҖӮиҜ·з”ҹжҲҗдёҖжқЎMySQL
            SELECTиҜӯеҸҘпјҲе»әи®®жҢүcontentеҒҡLIKEе…ій”®иҜҚиҝҮж»ӨпјҢжҢүcreate_time DESCжҺ’еәҸпјүгҖӮеҸӘиҫ“еҮәSQLпјҢдёҚиҰҒMarkdownгҖ?
        - id: p8u
          role: user
          text: з”ЁжҲ·иҫ“е…Ҙпјҡ{{#sys.query#}}
        selected: false
        title: LLM-з”ҹжҲҗжҹҘиҜўSQL
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: '1740000000008'
      position:
        x: 980
        y: 320
      positionAbsolute:
        x: 980
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import re\ndef main(sql_string: str) -> dict:\n    s = (sql_string\
          \ or '')\n    s = re.sub(r'```sql\\s*', '', s, flags=re.IGNORECASE)\n  \
          \  s = re.sub(r'\\s*```', '', s)\n    s = ' '.join(s.replace('\\n', ' ').split())\n\
          \    return {'sql': s}\n"
        code_language: python3
        desc: ''
        outputs:
          sql:
            children: null
            type: string
        selected: false
        title: ж•ҙзҗҶжҹҘиҜўSQL
        type: code
        variables:
        - value_selector:
          - '1740000000008'
          - text
          variable: sql_string
      height: 51
      id: '1740000000009'
      position:
        x: 1270
        y: 320
      positionAbsolute:
        x: 1270
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import urllib.request, json\ndef main(sql_query: str) -> dict:\n  \
          \  api_url = 'http://192.168.1.10:8888/api/records/execute'\n    req = urllib.request.Request(api_url,\
          \ data=json.dumps({'sql': sql_query}).encode('utf-8'), headers={\"Content-Type\"\
          : \"application/json\"})\n    try:\n        with urllib.request.urlopen(req,\
          \ timeout=10) as response:\n            result = json.loads(response.read().decode('utf-8'))\n\
          \            return {'result': result.get('message', 'ж“ҚдҪңе®ҢжҲҗ')}\n    except\
          \ Exception as e:\n        return {'result': f'й”ҷиҜҜ: {str(e)}'}\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: жү§иЎҢжҹҘиҜўSQL
        type: code
        variables:
        - value_selector:
          - '1740000000009'
          - sql
          variable: sql_query
      height: 51
      id: '1740000000010'
      position:
        x: 1560
        y: 320
      positionAbsolute:
        x: 1560
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - current_mode
          write_mode: over-write
        selected: false
        title: жё…з©әжҹҘиҜўжЁЎејҸ
        type: assigner
        version: '2'
      height: 83
      id: '1740000000011'
      position:
        x: 1850
        y: 320
      positionAbsolute:
        x: 1850
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 39b7c29d-f7b9-4e8e-ac47-2b3efca78b8c
            value: и®°еҪ•
            varType: string
            variable_selector:
            - conversation
            - current_mode
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: еҲӨж–ӯжҳҜеҗҰи®°еҪ•жЁЎејҸ
        type: if-else
      height: 123
      id: '1740000000012'
      position:
        x: 980
        y: 560
      positionAbsolute:
        x: 980
        y: 560
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: p13s
          role: system
          text: дҪ жҳҜMySQLжҸ’е…ҘSQLз”ҹжҲҗеҠ©жүӢгҖӮз”ЁжҲ·иҫ“е…ҘеҸҜиғҪжҳҜеӣәе®ҡж јејҸпјҢд№ҹеҸҜиғҪжҳҜиҮӘз„¶жҸҸиҝ°гҖӮиЎЁеҗҚпјҡzhihikuпјӣеӯ—ж®өпјҡemp_id,rec_type,content,create_timeгҖӮrec_typeд»…е…Ғи®ёпјҡеӨҮеҝҳеҪ•гҖҒз”ҹдә§и®°еҪ•жЈҖжҹҘгҖӮиҜ·з”ҹжҲҗдёҖжқЎMySQL
            INSERTиҜӯеҸҘпјҲд»…еҶҷе…Ҙemp_id,rec_type,content,create_timeпјҢcreate_timeз”ЁNOW()пјүгҖӮеҸӘиҫ“еҮәSQLпјҢдёҚиҰҒMarkdownгҖ?
        - id: p13u
          role: user
          text: з”ЁжҲ·иҫ“е…Ҙпјҡ{{#sys.query#}}
        selected: false
        title: LLM-з”ҹжҲҗи®°еҪ•SQL
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: '1740000000013'
      position:
        x: 1270
        y: 560
      positionAbsolute:
        x: 1270
        y: 560
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import re\ndef main(sql_string: str) -> dict:\n    s = (sql_string\
          \ or '')\n    s = re.sub(r'```sql\\s*', '', s, flags=re.IGNORECASE)\n  \
          \  s = re.sub(r'\\s*```', '', s)\n    s = ' '.join(s.replace('\\n', ' ').split())\n\
          \    return {'sql': s}\n"
        code_language: python3
        desc: ''
        outputs:
          sql:
            children: null
            type: string
        selected: false
        title: ж•ҙзҗҶи®°еҪ•SQL
        type: code
        variables:
        - value_selector:
          - '1740000000013'
          - text
          variable: sql_string
      height: 51
      id: '1740000000014'
      position:
        x: 1560
        y: 560
      positionAbsolute:
        x: 1560
        y: 560
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: f4dd846f-7dc2-476f-94bb-984779751c38
            value: жҹҘиҜў
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: contains
            id: cc4d8188-48f6-4d57-8a13-6411928114e9
            value: жЈҖзҙ?
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: contains
            id: 9eea5d6d-8667-446e-8a1c-0694741d6bd1
            value: жҹҘдёҖдё?
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: contains
            id: 742cc4e5-13a2-44aa-9002-d0e75c346880
            value: её®жҲ‘жҹ?
            varType: string
            variable_selector:
            - sys
            - query
          id: 'true'
          logical_operator: or
        - case_id: 773289b8-22d2-43c8-a8b5-f2d0aa95db92
          conditions:
          - comparison_operator: contains
            id: 0f072ee0-0e2d-4b5a-998c-acfd7308b946
            value: и®°еҪ•
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: contains
            id: 5884b5e2-f59f-47fa-b94a-c0266e013b92
            value: еҪ•е…Ҙ
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: contains
            id: 920f7b28-6b8d-430d-a7e5-7681afd1bc41
            value: ж–°еўһ
            varType: string
            variable_selector:
            - sys
            - query
          - comparison_operator: contains
            id: d8c53bbc-370a-4983-8b2f-069bb6cebf51
            value: дҝқеӯҳ
            varType: string
            variable_selector:
            - sys
            - query
          id: 773289b8-22d2-43c8-a8b5-f2d0aa95db92
          logical_operator: or
        desc: ''
        selected: false
        title: и·Ҝз”ұ-жҹҘиҜўжҲ–и®°еҪ?
        type: if-else
      height: 175
      id: '1740000000015'
      position:
        x: 1270
        y: 850
      positionAbsolute:
        x: 1270
        y: 850
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: 'дҝқеӯҳжҲҗеҠҹгҖ?


          {{#1740000000004.result#}}'
        desc: ''
        selected: false
        title: еӣһеӨҚ-дҝқеӯҳз»“жһң
        type: answer
        variables: []
      height: 102
      id: '1740000000016'
      position:
        x: 1560
        y: 40
      positionAbsolute:
        x: 1560
        y: 40
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: 'е·ІеҸ–ж¶ҲдҝқеӯҳгҖ?


          еҰӮйңҖз»§з»ӯпјҢиҜ·иҫ“е…ҘвҖңжҹҘиҜўвҖқжҲ–вҖңи®°еҪ•вҖқгҖ?
        desc: ''
        selected: false
        title: еӣһеӨҚ-еҸ–ж¶Ҳдҝқеӯҳ
        type: answer
        variables: []
      height: 115
      id: '1740000000017'
      position:
        x: 1270
        y: 180
      positionAbsolute:
        x: 1270
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: 'жҹҘиҜўз»“жһңпј?


          {{#1740000000010.result#}}'
        desc: ''
        selected: false
        title: еӣһеӨҚ-жҹҘиҜўз»“жһң
        type: answer
        variables: []
      height: 102
      id: '1740000000018'
      position:
        x: 2140
        y: 320
      positionAbsolute:
        x: 2140
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1740000000014'
          - sql
          variable_selector:
          - conversation
          - pending_sql
          write_mode: over-write
        - input_type: constant
          operation: set
          value: еҫ…зЎ®и®Өдҝқеӯ?
          variable_selector:
          - conversation
          - current_mode
          write_mode: over-write
        selected: false
        title: дҝқеӯҳеҫ…зЎ®и®ӨSQL
        type: assigner
        version: '2'
      height: 109
      id: '1740000000019'
      position:
        x: 1850
        y: 560
      positionAbsolute:
        x: 1850
        y: 560
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: 'иҜ·зЎ®и®ӨжҳҜеҗҰдҝқеӯҳпјҹ


          иҫ“е…ҘвҖңжҳҜвҖқзЎ®и®ӨдҝқеӯҳпјҢиҫ“е…ҘвҖңеҗҰвҖқеҸ–ж¶ҲгҖ?
        desc: ''
        selected: false
        title: еӣһеӨҚ-зЎ®и®Өдҝқеӯҳ
        type: answer
        variables: []
      height: 115
      id: '1740000000020'
      position:
        x: 2140
        y: 560
      positionAbsolute:
        x: 2140
        y: 560
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: ''
        items:
        - input_type: constant
          operation: set
          value: жҹҘиҜў
          variable_selector:
          - conversation
          - current_mode
          write_mode: over-write
        selected: false
        title: и®ҫзҪ®жҹҘиҜўжЁЎејҸ
        type: assigner
        version: '2'
      height: 83
      id: '1740000000021'
      position:
        x: 1560
        y: 800
      positionAbsolute:
        x: 1560
        y: 800
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: ''
        items:
        - input_type: constant
          operation: set
          value: и®°еҪ•
          variable_selector:
          - conversation
          - current_mode
          write_mode: over-write
        selected: false
        title: и®ҫзҪ®и®°еҪ•жЁЎејҸ
        type: assigner
        version: '2'
      height: 83
      id: '1740000000022'
      position:
        x: 1560
        y: 940
      positionAbsolute:
        x: 1560
        y: 940
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: 'иҜ·иҫ“е…ҘвҖңжҹҘиҜўвҖқжҲ–вҖңи®°еҪ•вҖқгҖ?

          зӨәдҫӢпјҡеё®жҲ‘жҹҘдёҖдё?001зҡ„еӨҮеҝҳеҪ•гҖ?
        desc: ''
        selected: false
        title: еӣһеӨҚ-ж— ж•Ҳиҫ“е…Ҙ
        type: answer
        variables: []
      height: 115
      id: '1740000000023'
      position:
        x: 1560
        y: 1080
      positionAbsolute:
        x: 1560
        y: 1080
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: 'жҹҘиҜўйңҖиҰҒиҫ“е…Ҙд»ҘдёӢеҶ…е®№пјҡ

          е‘ҳе·Ҙзј–еҸ·пј?

          жҹҘиҜўзұ»еһӢпјҡеӨҮеҝҳеҪ•/з”ҹдә§и®°еҪ•жЈҖжҹ?

          жҹҘиҜўеҶ…е®№пј?

          иҜ·иҫ“е…Ҙпјҡ


          д№ҹж”ҜжҢҒиҮӘз„¶иҫ“е…ҘпјҢдҫӢеҰӮпјҡеё®жҲ‘жҹҘ1001зҡ„еӨҮеҝҳеҪ•пјҢе…ій”®иҜҚи®ҫеӨҮе·ЎжЈҖгҖ?
        desc: ''
        selected: false
        title: еӣһеӨҚ-жҹҘиҜўиҫ“е…ҘжҸҗзӨә
        type: answer
        variables: []
      height: 170
      id: '1740000000024'
      position:
        x: 1850
        y: 800
      positionAbsolute:
        x: 1850
        y: 800
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: 'и®°еҪ•йңҖиҰҒиҫ“е…Ҙд»ҘдёӢеҶ…е®№пјҡ

          е‘ҳе·Ҙзј–еҸ·пј?

          и®°еҪ•зұ»еһӢпјҡеӨҮеҝҳеҪ•/з”ҹдә§и®°еҪ•жЈҖжҹ?

          и®°еҪ•еҶ…е®№пј?

          иҜ·иҫ“е…Ҙпјҡ


          д№ҹж”ҜжҢҒиҮӘз„¶иҫ“е…ҘпјҢдҫӢеҰӮпјҡеё®жҲ‘з»ҷ1001ж–°еўһдёҖжқЎз”ҹдә§и®°еҪ•жЈҖжҹҘпјҡ3еҸ·зәҝе·ЎжЈҖйҖҡиҝҮгҖ?
        desc: ''
        selected: false
        title: еӣһеӨҚ-и®°еҪ•иҫ“е…ҘжҸҗзӨә
        type: answer
        variables: []
      height: 170
      id: '1740000000025'
      position:
        x: 1850
        y: 940
      positionAbsolute:
        x: 1850
        y: 940
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -120
      y: -90
      zoom: 0.55
  rag_pipeline_variables: []
